body {
  text-align: center;
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
}

.wrapper{
  /* background-color: #fff; */
  padding: 10px; 
  margin-top: 15px; 
}

h1 {
  font-family: Monoton;
  font-size: 70px;
  margin: 0.2em;
  color: whitesmoke;
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

.label-width{
  width: 90px;
}

table,
#pixelCanvas tr,
#pixelCanvas td {
  border: 1px solid rgb(26, 24, 24);
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

#pixelCanvas tr {
  height: 35px;
  padding: 0;
  margin: 0;
}

#pixelCanvas td {
  width: 35px;
  padding: 0;
  margin: 0;
}

input[type="number"] {
  width: 6em;
}

.material-icons{
  font-size: 1rem;
  color: #FF1654;
}

.table-hover  td:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}
.table-my-color{
  background-color:#247BA0
  ;
}

